<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.myask.mapper.AskMapper">

	<insert id="insertAsk">
		INSERT INTO ASK VALUES(
			0,
			#{askVO.parent_id},
			#{askVO.ask},
			NULL,
			now(),
			NULL
		);
	</insert>
	
	<select id="listNewAsk" resultType="com.myask.domain.AskVO">
		SELECT * FROM ASK
		WHERE PARENT_ID = #{parent_id}
		AND REPLY IS NULL
		ORDER BY REG_DATE ASC
	</select>
	
	<select id="listCompletedAsk" resultType="com.myask.domain.AskVO">
		SELECT * FROM ASK
		WHERE PARENT_ID = #{parent_id}
		AND REPLY IS NOT NULL
		ORDER BY REG_DATE DESC
	</select>
	
	<select id="selectAsk" resultType="com.myask.domain.AskVO">
		SELECT * FROM ASK
		WHERE PARENT_ID = #{parent_id} 
		AND ASK_CODE = #{ask_code} 
	</select>
	
	<update id="updateAsk">
		UPDATE ASK SET
		REPLY = #{askVO.reply},
		REPLY_DATE = NOW()
		WHERE ASK_CODE = #{askVO.ask_code}
	</update>
	
	<delete id="deleteAsk">
		DELETE FROM ASK
		WHERE ASK_CODE = #{ask_code}
	</delete>
 
</mapper>