@charset "UTF-8";

.replyButton {
	font-size: 110%;
	padding: 15px;
	width: 100px;
	border: none;
	border-radius: 15px;
	color: snow;
	background-color: rgb(60, 60, 60);
}

.replyBox {
	margin: 0px auto;
	text-align: center;
	padding: 20px;
	width: 500px;
	border: none;
	border-radius: 15px;
	background-color: snow;
}

.inputText {
 	width: 400px;
       padding: 15px;
       color:black;
       font-size: 110%;
       border: solid black 3px;
       border-radius: 10px;
       background-color: snow;
       resize: none;
    }